version: "3.9"

services:
  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    restart: always
    ports:
      - "5001:5001"
    environment:
      MONGO_URL: "mongodb+srv://stewiegriffen2017_db_user:Ne9QexVaKMbJUSyM@yarnifywebpagecluster.bx7qzf8.mongodb.net/yarnifydb?retryWrites=true&w=majority&appName=yarnifyWebpageCluster"
  
  product-service:
    build: ./services/product-service
    container_name: product-service
    restart: always
    ports:
      - "5002:5002"
    environment:
      MONGO_URL: "mongodb+srv://stewiegriffen2017_db_user:Ne9QexVaKMbJUSyM@yarnifywebpagecluster.bx7qzf8.mongodb.net/yarnifydb?retryWrites=true&w=majority&appName=yarnifyWebpageCluster"

  payment-service:
    build: ./services/payment-service
    container_name: payment-service
    restart: always
    ports:
      - "5003:5003"
    environment:
      MONGO_URL: "mongodb+srv://stewiegriffen2017_db_user:Ne9QexVaKMbJUSyM@yarnifywebpagecluster.bx7qzf8.mongodb.net/yarnifydb?retryWrites=true&w=majority&appName=yarnifyWebpageCluster"

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - auth-service
      - product-service
      - payment-service